import * as Services from './services.types';
import { createAssertEquals, createAssertType } from 'typescript-is';

export default {
{{#callObj}}
  '{{name}}': {
    equals: createAssertEquals<Services.{{type}}.ActionParams<'{{actionName}}'>>(),
    type: createAssertType<Services.{{type}}.ActionParams<'{{actionName}}'>>()
  },
{{/callObj}}
}


