import * as MoleculerTs from 'moleculer-ts';
import * as Broker from './moleculer';
import * as Services from './services.types';

export interface ServiceBroker {
  call<T extends ServiceActionNames>(
    actionName: T,
    params: GetCallParams[T],
    opts?: Broker.CallingOptions,
  ): PromiseLike<GetCallReturn[T]>;

  emit<T extends ServiceEventNames>(
    eventName: T,
    payload: GetEmitParams[T],
    groups?: ServiceNamesEmitGroup,
  ): void;

  broadcast: ServiceBroker['emit']
  broadcastLocal: ServiceBroker['emit']
}


type GetCallParams = {
{{#callObj}}
  '{{name}}': Services.{{type}}.Actions[{{index}}]['in'];
{{/callObj}}
};

type GetCallReturn = {
{{#callObj}}
  '{{name}}': Services.{{type}}.Actions[{{index}}]['out'];
{{/callObj}}
};

type GetEmitParams = {
{{#emitObj}}
  '{{name}}': MoleculerTs.Union.Strict<Services.{{type}}.Events[{{index}}]['in']>;
{{/emitObj}}
};

export type ServiceNames = Exclude<never | {{{ServiceNames}}}, never>;
export type ServiceEventNames = Exclude<never | {{{ServiceEventNames}}}, never>;
export type ServiceActionNames = Exclude<never | {{{ServiceActionNames}}}, never>;
export type ServiceNamesEmitGroup = ServiceNames | ServiceNames[];
