import * as MoleculerTs from 'moleculer-ts';
{{#importForTuples}}
import { {{name}} as {{alias}} } from '{{{module}}}';
{{/importForTuples}}

{{#services}}
declare module '{{{path}}}' {
  type DerivedActions = [{{actions}}]
  type DerivedEvents = [{{events}}]

  type ActionParams<T extends MoleculerTs.GetNames<DerivedActions>> = MoleculerTs.GetParamsStrict<DerivedActions, T>;
  type ActionReturn<T extends MoleculerTs.GetNames<DerivedActions>> = MoleculerTs.GetReturn<DerivedActions, T>;
  type EventParams<T extends MoleculerTs.GetNames<DerivedEvents>> = MoleculerTs.GetParamsStrict<DerivedEvents, T>;
  type ServiceOwnActions = MoleculerTs.GetServiceOwnActions<OwnActions>;
}

{{/services}}

{{#services}}
import * as {{name}} from '{{{path}}}';
{{/services}}

export {
{{#services}}
  {{name}},
{{/services}}
};

